header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}

header .logo{
    width: 350px;
}

header .links{
    position: absolute;
    right: 0;
}
header .links img{
    width: 20px;
    margin-left: 15px;
}